@font-face {
  font-family: "NanumSquareRound";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "CabinetGrotesk";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/CabinetGrotesk-Bold.woff") format("woff");
}
